*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}
img{
    max-width: 100%;
}
.heart{
    width: 40px;
    height: 40px;
    padding-top: 10px;
}
.heart:hover{
    color: white;
    transition: 0.34s;
}

/* NAVBAR */

nav{
    width: 100%;
    background-color: pink;
    color: black;
}
.navParent{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
   justify-content: space-between;
   margin-top: 7px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    color: white;
    transition: 0.34s   ;
}

/* HEADER */

header{
    width: 100%;
    height: 94vh;
    background-image: url(img/beyaz.jpg); 
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    align-items: center; 
}
.text{
    text-align: center;
}
.btn{
    background-color: pink;
    color: white;
    border-radius: 30px;
    margin: 5px;
    padding: 10px;
}

/* CARD */

.cardParent{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.card{
    width: 30%;
    text-align: center;
    padding: 4px;
    box-shadow: 10px 10px 5px lightblue;
}
.icons{
width: 100%;
height: 100px;
}

/* ABOUT */

.aboutParent{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutİmg{
    width: 40%;
}
.aboutText{
    width: 60%;
    padding: 15px;
    text-align: center;
}

/* FOOTER */

footer{
    background-color: pink;
    color: white;
}
.footerParent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footerLeft,.footerCenter,.footerRight{
    width: 30%;
    padding: 15px;
}
.footerCenter ul li a{
    color: white;
}

/* MOBİL UYUMLULUK */

@media screen and (max-width:775px) {
    .container{
        width: 95%;
    }
    .navParent{
        display: block;
    }
    
}
@media screen and (max-width:550px) {
    .container{
        width: 95%;
    }
    .cardParent{
    display: block;
   }
   .card{
    width: 100%;
    margin-bottom: 15px;
   }
}
@media screen and (max-width:860px) {
  .about{
    display: block;
  }
  .aboutİmg{
    width: 100%;
  }
  .aboutText{
    width: 100%;
  }
}
@media screen and (max-width:830px) {
    .container{
        width: 95%;
    }
    .footerParent{
        display: block;
    }
    .footerLeft,.footerCenter,.footerRight{
        width: 100%;
    }
}